{% extends 'base.html.twig' %}

{% block title %}Movie List{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-4">Movie List</h1>
                <p class="lead">Coming soon, my favorite movies</p>
                <a href="{{ path('add_movie') }}" class="btn btn-primary mt-3">Add a New Movie</a>
            </div>
        </div>
    </div>
{% endblock %}