{% extends 'base.html.twig' %}

{% block title %}Add Movie{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1 class="mb-4">Add a new Movie</h1>
                {% include 'movie/_movie_form.html.twig' with { form: form, button_label: 'Submit new movie' } %}
            </div>
        </div>
    </div>
{% endblock %}