{% extends 'base.html.twig' %}

{% block title %}Edit {{ movie.title }}{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1 class="mb-4">Edit {{ movie.title }}</h1>
                {% include 'movie/_movie_form.html.twig' with { form: form, button_label: 'Update Movie' } %}
            </div>
        </div>
    </div>
{% endblock %}